@using System.Activities.Statements
@model dynamic

@{
    Layout = null;
    ViewBag.Title = "SmartFan Home";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>Welcome!</div>

    @Html.ActionLink("To API test page", "Index", "Test")

    @foreach (var item in ViewBag.Teams)
    {
        <div>@item.Name</div>
    }

<div>

</div>
</body>
</html>