@model dynamic

@{
    Layout = null;
    ViewBag.Title = "SmartFan API test API page";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>

<body>
<div>
    Call out to teams with GET method:
    <div id="teams"></div>
</div>
</body>
</html>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/apiTest.js"></script>