@model dynamic

@{
    Layout = null;
    ViewBag.Title = "SmartFan Home";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>Welcome!</div>

    @Html.ActionLink("To API test page", "Index", "Test")

<div>

</div>
</body>
</html>